@media (min-width: 991px) {
  .desk-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }
  .site-header.header-sticky .header-bottom .navbar-main {
    padding-left: 0;
}

}

@media screen and (max-width:1400px) {
  .video-popup .video {
    padding-top: 56.5%;
  }

  #footer-leaf {
    opacity: .3;
  }
  .slick-arrow.slick-prev {
    left: 0px;
}
.product-sec .slick-arrow{
    left: 17.5%;
}
  .slick-arrow.slick-next {
    right: 0px;
}
}
@media (min-width: 992px) and (max-width: 1360px){
.blog-grid-section .blog-card {
    max-width: 33.33%;
    width: 100%;
}
}
@media screen and (max-width:1200px) {

  #left-side-img,
  #right-side-img {
    max-width: 230px;
  }

  .best-seller-sec .main-card,
  .filter-sec .filter-card .main-card {
    margin: 0 auto 15px;
  }

  /* .product-sec h2 {
    font: var(--h3);
  } */
  .product-sec .product-thumb-slider{
    margin: 15% 0;
  }
  .testimonials-sec .testi-slider-container {
    padding: 50px 30px;
  }
  .testimonials-sec .testi-slider .slick-arrow.slick-prev {

    left: -30px;
}
.testimonials-sec .testi-slider .slick-arrow.slick-next {
    right: -30px;
}

}
@media screen and (max-width:1199px) {
    .main-card .add-wishlist{
        font-size: 0;
    }
    .wish-ic{
        font-size: 14px;
    }
    /* .testimonials-sec .card-inner>a img{
        height: 140px;
        top: 0px;
    } */
}

/* responsive 991px start  */
@media screen and (max-width:991px) {
  :root {
    --h1: normal 600 32px/1.2 var(--first-font);
    --h2: normal 600 26px/1.2 var(--first-font);
    --h3: normal 600 20px/1.2 var(--first-font);
    --h4: normal 600 18px/1.2 var(--first-font);
    --h5: normal 600 16px/1.2 var(--first-font);
    --h6: normal 600 14px/1.2 var(--first-font);
  }

  /* .wrapper {
    padding-top: 50px;
  } */

  .padding-top {
    padding-top: 40px;
  }

  .padding-bottom {
    padding-bottom: 40px;
  }

  .header-top {
    padding: 10px 0;
  }

  #left-side-img,
  #right-side-img {
    opacity: .5;
  }

  .common-heading .sub-heading ,.product-sec .common-heading .sub-heading{
    margin-bottom: 15px;
  }

  .common-heading p {
    margin: 15px 0 30px;
  }

  .header-top .header-top-icon-list li a svg {
    width: 20px;
    height: 20px;
  }

  .header-bottom .container {
    padding: 0;
  }

  .header-bottom .nav-categories {
    padding: 20px 3px;
  }

  .header-bottom .bottom-header-left {
    margin-left: auto;
  }

  .site-header .count {
    top: -5px;
    right: 1px;
    height: 15px;
    width: 15px;
  }

  .header-bottom .bottom-header-right,
  .header-top .header-top-time {
    display: none;
  }

  .header-bottom .navbar-main {
    border-radius: 0;
    padding: 0 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .header-bottom .mega-menu-container {
    padding: 0 15px;
  }

  .header-bottom .menu-items-col .main-nav>li.menu-lnk .menu-dropdown.mega-menu {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .couner-number-sec .number-box {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .couner-number-sec .numbers-row>div:last-child .number-box {
    margin-bottom: 0;
  }

  .couner-number-sec .number-box {
    max-width: unset;
  }

  .couner-number-sec .number-box .numbers {
    font-size: 30px;
  }

  .fifth-sec .common-heading,
  .testimonials-sec .common-heading {
    margin-bottom: 30px;
  }

  .sixth-sec {
    padding: 90px 0 60px;
  }

  .testi-slider-container {
    margin-bottom: 20px;
  }

  .site-footer {
    padding: 40px 0 20px;
  }

  .site-footer .site-header {
    display: none;
  }
  .footer-col{
    margin-bottom: 15px;
  }
  .product-sec .price>div {
    font-size: 18px;
  }

  .product-sec .product-thumb-slider {
    margin: 15% 0 10%;
  }

  .description-sec .common-heading p {
    max-width: 100%;
  }

  .description-sec .description-box {
    padding: 35px 20px;
  }

  .cart-summery .btn {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .submit-btn {
    margin: 20px 0 0;
  }

  .article-banner .blog-cat {
    margin: 20px 0;
  }

  .art-auther {
    margin-bottom: 15px;
  }

  .quote-box {
    padding: 15px 0 25px 60px;
  }

  .quote-box h3 {
    font-size: 15px;
  }

  .latest-article-slider-section .section-title {
    padding-top: 40px;
    margin-bottom: 26px;
  }

  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }

  .order-history-tbl tr td {
    padding: 15px 10px 15px;
  }

  .order-confirm-details .link {
    font-size: 13px;
  }

  .order-confirm-details {
    padding: 20px 12px;
  }

  .acc-back-btn-wrp button {
    padding: 10px 20px;
  }

  #tab-6 .order-confirmation-body {
    padding: 20px 10px;
  }

  #tab-6 .order-confirmation-body .order-history-tbl tr td {
    padding: 15px 4px 15px;
  }

  .ttl-pric {
    font-size: 20px;
  }

  .checkout-page-right {
    max-width: 300px;
    width: 100%;
  }

  .checkout-page-left {
    margin-bottom: 25px;
  }

  /* .top-bg-section, .top-bg-wrapper{
    margin-top: 100px;
  } */

  .contact-right-column {
    margin-top: -268px;
  }
  .card-sec .img-box{
    margin-bottom: 20px;
  }
  .testimonials-sec .testi-slider-container .testi-content p {
    font-size: 20px;
}
.testimonials-sec .testi-slider-container {
    padding: 30px 20px 40px;
}
.testimonials-sec .testi-slider-container .testi-content p {
    margin: 25px auto 30px;
}
/* .card-sec .pro-card-inner a img{
    top: 35px;
} */
.filter-sec .title{
    flex-direction: column;
    align-items: flex-start;
}
.filter-sec .category-buttons{
    margin-left:0px;
    margin-top:25px;
}
.hero-sec {
    padding-bottom: 85px;
}
.blog-grid-section .blog-title span{
    font-size: 14px;
}

.header-bottom .menu-items-col .main-nav>li:hover .menu-dropdown{
    right: 0;
}
.blog-cat li:nth-child(2) a,.blog-cat li:nth-child(3) a{
    padding: 10px 5px;
}
.blog-cat li{
    margin-bottom: 5px;
}

.filter-title h3{
    display: none;
}
.product-listing-section .filter-title .filter-icn, .product-filter-body .close-filter {
    display: block;
}
.filter-title div.filter-icn {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
    display: block !important;
}
.product-filter-right-column {
    border-left: none;
    padding-left: 0px !important;
}
.product-filter-column {
    position: fixed;
    top: 0;
    background: var(--white);
    left: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(100%, 0px);
    transform: translate(-100%, 0px);
  }
  .product-filter-body {
    padding: 40px 15px;
    overflow: auto;
    height: 100%;
    background: var(--white);
  }
  .close-filter {
    position: absolute;
    top: 0;
    background: var(--theme-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    right: 0;
    cursor: pointer;
  }
  .close-filter svg {
    height: 100%;
    width: 100%;
  }
  .close-filter svg path {
    fill: var(--white);
  }
  .filter-open .product-filter-column {
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .product-heading-right-column {
    /* padding: 0 !important; */
    border-left: 0;
  }
  .product-listing-section {
    padding-top: 0px;
}
.main-card .inner-card .price ins {
    font-size: 16px;
}
.cart-page-section {
    padding-top: 40px;
}
}

/* responsive 991px end */
/* responsive 767px start  */
@media screen and (max-width:767px) {
  .header-bottom .menu-items-col .main-nav {
    display: none;
  }

  .mobile-menu-wrapper {
    position: fixed;
    z-index: 4;
    background: var(--white);
    color: var(--black);
    top: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
    right: 0;
    width: 100%;
    display: block !important;
  }

  #left-side-img,
  #right-side-img {
    max-width: 110px;
  }

  .mobile-menu-wrapper.active-menu {
    transform: translate(0%, 0px);
  }

  .header-bottom .mobile-menu-button,
  .header-bottom .mobile-menu-close-icon,
  .header-bottom .nav-links {
    display: block;
  }

  .header-bottom .mobile-menu-close-icon {
    background-color: var(--black);
    padding: 19px 20px;
  }

  .header-bottom .nav-links li a {
    width: 100%;
    font-size: 18px;
    margin: 12px 0 0 20px;
  }

  .header-top .header-top-icon-list li a svg {
    margin-right: 0;
    width: 20px;
    height: 20px;
  }

  .header-bottom .nav-links {
    align-items: flex-start;
  }

  .header-bottom .dropdown-menu {
    border-top: 0;
    position: relative;
  }

  .header-bottom .nav-categories,
  .header-bottom .dropdown-menu li {
    padding: unset;
  }

  .header-bottom .navbar-main {
    border-radius: 0;
    padding: 20px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  .header-top .header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom .nav-links .show-mobile {
    display: block;
  }

  .header-top .header-top-row .top-left-wrapper {
    display: none;
  }

  .header-top .header-top-icon-list {
    width: 100%;
    justify-content: center;
  }

  .site-header .count {
    top: -7px;
    right: -10px;
  }

  .search-popup {
    padding: 0 15px;
  }

  .search-popup .close-search {
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
  }

  .third-sec .third-sec-row {
    flex-direction: column-reverse;
  }

  .third-sec .third-sec-row .common-heading {
    text-align: center;
  }

  .third-sec .third-sec-row .common-heading p,
  .third-sec .third-sec-row .common-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .third-sec .third-sec-img-div {
    margin-bottom: 30px;
  }

  .filter-sec .common-heading h3,
  .fifth-sec .common-heading h3 {
    max-width: 100%;
  }

  .fifth-sec .common-heading,
  .testimonials-sec .common-heading {
    margin-bottom: 30px;
  }

  /* .sixth-sec {
    padding: 90px 0 60px;
  } */

  /* .filter-sec .category-buttons li a {
    padding: 10px 16px;
    font-size: 10px;
  } */

  /* .filter-sec .category-buttons {
    margin: 25px auto 0;
  } */

  .filter-sec .common-heading h2 {
    max-width: 100%;
    text-align: left;
  }

  .filter-sec .common-heading {
    flex-basis: 100%;
  }

  .testimonials-sec .testi-slider-container {
    padding: 20px;
  }

  .testimonials-sec .testi-slider .slick-arrow.slick-prev {
    left: -30px;
  }

  .testimonials-sec .testi-slider .slick-arrow.slick-next {
    right: -30px;
  }

  .testimonials-sec .testi-slider .slick-arrow {
    bottom: -27% !important;
  }

  .site-footer .footer-col {
    margin-bottom: 30px;
  }

  /* .site-footer .footer-top .footer-col ul li:not(:last-of-type) {
    margin-bottom: 20px;
  } */

  .product-sec h2 {
    font: var(--h2);
  }

  .product-sec .product-thumb-slider {
    margin-top: 20%;
  }

  .product-sec .product-left-inner {
    margin-bottom: 40px;
  }

  .product-sec .description-sec .methods {
    margin-top: 30px;
  }

  .product-sec .main-cart .product,
  .product-sec .account-detail-sec .product,
  .main-cart .coupon-code {
    display: block;
  }

  .product-sec .product-left-side {
    margin-bottom: 15px;
  }

  .product-sec .price-div .common-btn {
    margin: 0px 0 auto auto;
    padding: 11px 24px;
  }

  /** MINI CART **/
  .cartDrawer {
    width: 100%;
  }

  .cartDrawer .mini-cart-body {
    padding: 20px;
  }

  .cartDrawer .mini-cart-header {
    padding: 16px 20px 16px 50px;
  }

  .cartDrawer .mini-cart-footer .checkout-btn {
    /* max-width: 100%; */
    padding: 12px 11px;
  }

  .cartDrawer .mini-cart-footer {
    padding: 20px;
  }

  .cartDrawer .mini-cart-footer-total-row {
    font-size: 18px;
    line-height: 18px;
    margin: 0 -10px 12px;
  }

  .cartDrawer .closecart {
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .cartDrawer .closecart svg path {
    fill: var(--white);
  }

  .cartDrawer .mini-cart-footer .u-save {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .slick-lightbox-inner .slick-arrow {
    width: 26px;
    height: 26px;
  }

  .description-sec .description-box {
    margin-bottom: 25px;

  }

  /* product list page start  */
  /* .product-listing-section .filter-title .filter-icn,
  .product-filter-body .close-filter {
    display: block;
  }

  .product-listing-section .filter-title h4 {
    display: none;
  }

  .product-filter-column {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 15px;
    left: 0;
    max-width: 315px;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    -webkit-transform: translate(-100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
    transform: translate(-100%, 0px);
  }

  .filter-open .product-filter-column {
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  .close-filter {
    position: absolute;
    top: 0;
    background: var(--theme-color);
    height: 30px;
    width: 30px;
    padding: 7px;
    right: 0;
    cursor: pointer;
  }

  .close-filter svg {
    height: 100%;
    width: 100%;
  }

  .product-filter-body {
    padding: 30px 15px;
    overflow: auto;
    height: 100%;
  }

  .product-filter-right-column {
    border-left: 0;
    padding-left: 0 !important;
  } */

  .product-heading-right-column {
    padding: 14px !important;
    border-left: 0;
  }

  /* .filter-title div {
    max-width: 40px;
    border: 1px solid var(--theme-color);
    padding: 2px;
  } */

  .cart-page-section .section-title {
    margin-bottom: 26px;
  }

  .abt-shp-column-right,
  .about-our-shop-section .row {
    margin-top: 30px;
  }

  .contact-right-column {
    margin-top: 0;
  }

  .contact-right-inner h2 {
    color: var(--theme-color);
  }

  .blog-col-right .nice-select {
    flex: 0 0 120px;
  }

  .blog-col-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .blog-col-left ul {
    flex-direction: column;
    align-items: center;
  }

  .blog-head-row {
    border: 0;
    flex-direction: column;
    align-items: center;
  }
  .blog-wrapper .blog-head-row .blog-col-right {
    max-width: 100%;
}
  .blog-grid-section .section-title {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .blog-wrapper .blog-grid-section .common-btn2{
    margin-top: 15px;
  }

  .articlerightbar {
    padding-top: 40px;
  }

  .aticleleftbar h5 {
    margin: 0 0 20px 0;
  }

  /* .articlerightbar .blog-grid .blog-widget:last-of-type {
    margin-bottom: 0;
  } */
  .hr-line{
    display: none;
  }

  .latest-article-slider-section .section-title {
    padding-top: 26px;
  }

  .post-lbl {
    margin: 0 0 0 20px;
  }

  .article-section .abt-user-img {
    margin-right: 15px;
  }

  .aticleleftbar p {
    margin-bottom: 15px;
  }

  .quote-box svg {
    height: 20px;
    width: 20px;
  }

  .quote-box {
    padding: 15px 0 25px 35px;
  }

  .order-summery-page .section-title p {
    font-size: 14px;
  }

  .order-summery-page .section-title h2 {
    margin-bottom: 18px;
  }

  .register-page .section-title {
    margin-bottom: 30px;
  }

  .my-acc-head {
    margin-bottom: 26px;
  }

  .my-acc-rightbar {
    margin-top: 40px;
  }

  #scroll {
    background: #fff;
    top: 63px;
    color: var(--black);
  }

  #scroll #account-nav {
    display: flex;
    justify-content: space-between;
  }

  #account-nav li a svg {
    margin-right: 0;
    height: 15px;
    width: 15px;
  }

  #account-nav li a span {
    display: none;
  }

  #account-nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-acc-leftbar li:not(:last-of-type) {
    border-bottom: 0;
  }

  .my-acc-leftbar h4 {
    padding: 15px 0;
    margin-bottom: 0;
}

  #account-nav li a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: var(--theme-color);
  }

  .order-history-tbl tr th:nth-child(5),
  .order-history-tbl tr td:nth-child(5) {
    text-align: center;
  }

  .my-acc-right-content {
    padding-bottom: 30px;
  }

  #tab-6 .order-history-tbl tr th:nth-child(6),
  #tab-6 .order-history-tbl tr td:nth-child(6) {
    text-align: center;
  }

  .my-acc-right-content .qty-spinner input,
  .my-acc-right-content table tr th,
  .my-acc-right-content table tr td {
    font-size: 14px;
  }

  .order-payment-box {
    max-width: 100%;
    margin: 15px 0 0 auto;
  }


  .checkout-page .order-confirmation-body .row .col-12:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .checkout-page-left .login-form {
    margin-top: 30px;
  }
  .checkout-page .payment-method-form .acc-back-btn-wrp{
      display: block;
  }
  .checkout-page .payment-method-form  .acc-back-btn-wrp button{
    margin-left: auto;
    margin-top: 15px;
  }

  .checkout-page .checkbox-custom {
    margin-bottom: 15px;
  }

  .set {
    margin-bottom: 12px;
  }

  .checkout-page .set .acnav-list {
    padding: 20px 15px;
  }

  .order-history-tbl tr td[data-label="quantity"] {
    padding: 10px;
  }

  .header-style-one .main-navigationbar .logo-col {
    max-width: 76px;
  }

  .form-container,
  .order-confirmation-body {
    padding: 20px 15px;
  }

  .blog-col-left ul li a:before {
    display: none;
  }
  .hero-sec{
    padding-bottom: 40px;
  }
  .hero-main-slider{
    padding-top: 170px;
  }
  .about-us-box{
    margin-bottom: 20px;
  }
  .popup-inner{
    max-width: 90%;
  }
  .card-sec .img-box{
    align-items: center;
  }
  .common-heading h2, .common-heading h1 {
    max-width: 100%;
}
.footer-bottom .footer-copyright{
    align-items: flex-start;
    flex-direction: column;
}
.footer-bottom .footer-copyright .footer-menu{
    margin-top: 10px;
}
.best-seller-slider .slick-arrow ,.fifth-sec-right-slider .slick-arrow,
.shop-protab-slider .slick-arrow ,.article-slider .slick-arrow,.testimonials-sec .testi-slider .slick-arrow{
    opacity: 1;
}
.best-seller-sec .slick-arrow, .filter-sec .slick-arrow, .fifth-sec-right-slider .slick-arrow {
    top: 50%;
}
.product-sec .common-heading p {
    max-width: 100%;
    margin: 15px 0 20px;
}
.about-us-page .col-md-6.col-12:first-of-type .about-us-content p{
    margin-bottom: 15px;
}
.forgot-page .mobile-direction-column{
    justify-content: center;
}
.articlerightbar .blog-grid .blog-widget{
    width: 100%;
}
/* .articlerightbar .blog-grid:first-of-type{
    margin-bottom: 20px;
} */
.article-section{
    padding-bottom: 0;
}
.blog-grid-section .blog-title span{
    text-align: center;
}
.order-history-tbl {
    border: 0;
    border-left: 1px solid var( --black);
    border-right: 1px solid var( --black);
}

#tab-8 .order-confirmation-body table tr {
    border-left: 0;
    border-right: 0;
}
.product-left-inner .price-div {
    align-items: center;
}
.wishOpen .wishDrawer{
    width: 100%;
}
.wishDrawer .mini-wish-header{
    padding: 16px 20px 16px 50px;
}
.wishOpen .wishDrawer .closewish{
    left: 19px;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
.wishDrawer .mini-wish-body {
    padding: 30px 15px;
}

}
/* responsive 767px end  */
/* responsive 575px start */
@media screen and (max-width: 575px) {
  .hero-sec .common-btn {
    margin: 15px auto;
    padding: 12px;
  }
  .fifth-sec{
    margin-bottom: 0;
  }
  .hero-sec .hero-btn {
    display: block !important;
  }

  .play-btn {
    justify-content: center;
  }

  .play-btn img {
    max-width: 35px;
  }

  .card-sec .img-box {
    padding: 20px 10px;
  }

  .card-sec .small-card .common-btn {
    font-size: unset;
  }

  .continue-btn,
  .outline-btn
   {
    max-width: 120px;
  }

  .fifth-sec .main-card {
    margin-bottom: 30px;
  }

  .fifth-sec {
    margin-bottom: 40px;
}

  .sixth-sec {
    padding: 30px 0;
  }

  /* .subscribe-sec .bg-sec {
    padding: 30px 12px;
  } */

  .subscribe-sec .input-box {
    padding: 3px 3px 3px 10px;
  }

  .subscribe-sec .form .article-sec .slick-slider {
    max-width: 100%;
  }
  .testimonials-sec .testi-slider .slick-arrow.slick-prev {
    left: -10px;
  }

  .testimonials-sec .testi-slider .slick-arrow.slick-next {
    right: -10px;
  }
  .testimonials-sec .testi-slider-container .testi-content p {
    /* font-weight: 200; */
    font-size: 16px;
    margin: 10px auto 20px;
  }

  .testimonials-sec .testi-slider-container {
    padding: 20px 0;
    max-width: 100%;
  }

  .footer-bottom .footer-copyright {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom .footer-menu li a {
    margin: 15px 10px 0;
}

  .footer-bottom .footer-links {
    justify-content: center;
  }

  .product-sec .slider-wrapper {
    flex-direction: column-reverse;
  }

  .product-sec .product-thumb-slider {
    max-width: 70%;
    margin: 20px auto 0;
  }
  .product-sec .product-thumb-item{
    margin-bottom: 0;
  }
  .product-sec .top-row a {
    font-size: 0px;
  }

  .product-sec .product-main-slider {
    padding-left: 0;
    max-width: 100%;
  }

  .product-sec .product-thumb-item {
    margin-right: 10px;
  }

  .product-sec .product-thumb-item .thumb-img,
  .product-sec .product-thumb-item .thumb-img img {
    border-radius: 5px;
  }

  .product-sec .nice-select {
    height: 35px;
    line-height: 35px;
    padding: 0 35px 0 8px;
  }

  .product-sec .slick-initialized .slick-slide {
    padding: 0;
  }

  .produdt-filter-cat {
    display: none;
  }

  .payment-method-form .radio-group label .radio-right {
    flex: 0 0 32%
  }

  .payment-method-form .radio-group label .radio-right>* {
    text-align: right;
  }

  .product-center-slider .slick-list {
    padding: 40px 30px !important;
  }

  .rating-box {
    padding: 40px 12px 30px;
  }

  .rating-box svg {
    height: 20px;
    width: 20px;
  }

  .modern-cat-col {
    padding: 20px 0 !important;
    border-bottom: 1px solid var(--border-color);
    margin: 0 !important;
    border-top: 0 !important;
  }

  .modern-cat-col:last-of-type {
    border: 0 !important;
    padding-bottom: 0 !important;
  }

  .modern-cat-col:nth-child(3n) .modern-cat-column-inner {
    max-width: 100%;
  }

  .modern-cat-col:nth-child(even) .modern-cat-img {
    order: 2;
  }

  .modern-cat-column-inner h3 {
    font-size: 16px;
  }

  .modern-category-section .section-title h2 {
    flex: 0 0 100%;
    margin-bottom: 15px;
  }

  .bestsell-cat-slider .slick-list {
    padding: 0 60px;
  }

  .our-bestseller-section .container {
    padding: 0;
  }

  .our-bestseller-section .section-title {
    padding: 0 15px;
  }

  .bestsell-cat-slider {
    margin: 0;
  }

  .shop-protab-slider .product-card-image {
    max-width: 130px;
  }

  .shop-protab-slider .product-content {
    max-width: calc(100% - 130px);
  }

  .shop-protab-slider .product-content-bottom .price {
    font-size: 18px;
  }

  .shop-protab-slider .pro-swatch {
    font-size: 8px;
    margin-bottom: 5px;
  }

  .cat-tab li a {
    padding: 4px 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
  }

  .two-column-variant-right .product-title {
    font-size: 20px;
  }

  .about-pro {
    width: 100%;
    margin-bottom: 20px;
  }

  .review-stars {
    margin-left: 40px;
  }

  .blog-widget {
    margin-bottom: 30px;
  }

  .bottom-wave-img {
    padding-top: 0;
  }

  .product-detail-bttom-stuff .addcart-btn {
    max-width: 100%;
  }

  .product-detail-bttom-stuff .price {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .wishbtn {
    top: 38px;
  }

  .social-sharing {
    writing-mode: unset;
    float: unset;
    margin: 20px 0;
  }

  .product-description {
    padding: 0;
  }

  .pro-gallery:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .pro-two-column-content {
    padding: 30px 0 0;
  }

  .pro-two-column {
    padding: 40px 0 0;
  }

  .produdt-filter-cat {
    display: none;
  }

  .blog-cat li:not(:last-of-type) {
    margin-right: 0;
  }

  .blog-cat li a {
    padding: 10px;
    font-size: 14px;
  }
  .blog-cat{
    flex-direction: column;
    align-items: flex-start;
  }
  .article-section .post-lbl{
    width: 100%;
    margin: 10px 0 0 0;
  }
  .reg-lbl {
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }

  .login-form .submit-btn {
    max-width: 170px;
    margin: 15px 0 0 0;
  }

  .mobile-direction-column {
    flex-direction: column;
  }

  .order-confirm-details {
    margin-bottom: 20px;
  }

  .dated {
    width: 100%;
    margin-top: 12px;
  }

  .order-paymentcol {
    max-width: 100%;
    text-align: center;
  }
  .order-paymentcol:nth-child(2) {
    max-width: 100%;
  }

  .order-paycol-inner img {
    margin: 0 auto;
  }

  .order-confirmation-body .col-sm-6:last-child .order-confirm-details {
    margin: 0;
  }

  .checkout-page .order-confirmation-body .row .col-12 .order-confirm-details {
    margin-bottom: 0;
  }
  .product-sec .slick-next {
    /*-webkit-transform: scaleX(-1);
    */-ms-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 37%;
    left: -50px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .product-sec .slick-prev {
    top: 37%;
    transform: rotate(0);
    left: auto;
    right: -40px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
.card-sec .img-main-box:not(:last-child) {
  margin-bottom: 25px;
}
.subscribe-sec .bg-sec {
    padding: 30px 15px;
}
.main-card {
    max-width: 100%;
}
.common-heading p {
    max-width: 100%;
}
.d-left{
    display: none;
}
.filter-sec .category-buttons {
    margin-left: 0px;
    margin-top: 25px;
    width: 100%;
    border: 0;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 20px;
}
.d-right{
    display:none;
}
.testimonials-sec .testi-slider-container .testi-slider .client-name {
    margin-right: 0px;
    width: 100%;
    margin-bottom:6px;
}
.testimonials-sec .testi-slider-container .testi-slider .review-stars {
    margin-left: 0px;
}
.forgot-page .mobile-direction-column{
    align-items: center;
}
.forgot-page .mobile-direction-column .submit-btn{
    padding: 10px 15px;
}
.payment-method-form .radio-group label .radio-right img {
    max-width: 34%;
}
.mini-wish-details {
    flex: 0 0 67%;
    width: 100%;
    padding-left: 15px;
}
}

/* responsive 575px end  */
@media screen and (max-width: 450px) {

  .common-btn {
    padding: 10px 30px;
    font-size: 14px;
  }

  .hero-sec .slick-dots {
    margin: 30px auto 0;
  }

  .product-sec .details {
    margin-left: auto;
    font-size: 12px;
  }
  .Delivery_Method_tab .payment-method-form .radio-group label{
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 370px) {
  :root {
    --h1: normal 600 32px/1.2 var(--first-font);
    --h2: normal 600 26px/1.2 var(--first-font);
    --h3: normal 600 20px/1.2 var(--first-font);
    --h4: normal 600 18px/1.2 var(--first-font);
    --h5: normal 600 16px/1.2 var(--first-font);
  }

  .common-btn2,
  .outline-btn {
    font-size: 14px;
  }
  .column-positive-us-right .col-sm-4.col-4 {
    width: 100%;
    margin-bottom: 20px;
  }

  .cat-tab li a {
    font-size: 10px;
  }

  .post-lbl {
    margin: 10px 0 0;
    width: 100%;
  }

  .acc-back-btn-wrp button {
    padding: 10px 15px;
  }

  .checkout-page .forgot-pass {
    font-size: 11px;
  }

  .btn-flex a {
    padding: 10px 14px !important;
  }

  .center-descrp {
    display: none;
  }

  .payment-method-form .radio-group label .radio-right {
    flex: 1;
  }

  .payment-method-form .radio-group label span {
    flex: 0 0 50%;
    padding-right: 0;
  }

  .payment-method-form .radio-group label .radio-right>* {
    padding-left: 5px;
  }

  .payment-method-form .radio-group label .radio-right b {
    font-size: 13px;
  }

  .payment-method-form .radio-group label .radio-right img {
    margin-left: 9px;
    max-width: 35px;
  }

  .blog-wrapper .common-btn2 {
    padding: 10px 22px;
  }
  .product-sec .slick-next{
    top: 24%;
    left: -43px;
  }
  .product-sec .slick-prev{
    top: 24%;
    right: -33px;
  }
  .blog-title span{
    margin-bottom: 5px;
    display: block;
    text-align: left;
  }
  .blog-title h2{
    margin-bottom: 15px;
  }
  .blog-grid-section .blog-title h2{
    margin-bottom: 0px;
  }
}
